<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi guys</title>
</head>
<body>
<h1>Welcome you guys in my personal web site here your got every types of movies , songs and comedy</h1>
<form action="/analyze" method="get">
    <textarea  name='text' style='margin: 0px; width: 1277px; height: 174px;'></textarea><br>
    <input type="checkbox" name="check">Remove Punctuations</input><br>
    <input  type="checkbox" name="capfirst">Upper Case</input><br>
    <input name='spacefree' type="checkbox">Remove Space</input><br>
    <input name='count' type="checkbox">Character count</input><br>
    <button type="submit" >text anaylizer</button>
</form>
</body>
</html>